# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
# /db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

.idea
/config/database.yml
/config/application.yml
*.pdf
# Ignore application configuration
/config/application.yml
*.swo
*.swp
/config/clickatell.yml
