<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Blog</title>
  <link rel="stylesheet" href="/css/blog.css" media="screen" />
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.timeago.js"></script>
  <script type="text/javascript" src="/js/blog.js"></script>
</head>
<body>
  <%= yield %>	
</body>
</html>
